In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## Data Description, Analysis, and Visualisation:

**Players file**

Consists of 196 observations with 7 variables each:

 - Player's experience in 5 levels (Pro, Veteran, Regular, Amateur, Beginner) (character): `experience`
 - Subscribe status (logical): `subscribe`
 - Player ID in (character): `hashedEmail`
 - Play time in hours (double): `played_hours`
 - Player's name (character): `name`
 - Player's gender (character): `gender`
 - Player's age (integer): `Age`

Issues found in this dataset:

 - NA in Age

In [4]:
players_data <- read.csv("players.csv")

players_data |>
    slice(c(1:3, (n()-2):n()))

#players_data |>
#    nrow()

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur    FALSE
5 Amateur    FALSE
6 Pro         TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb  0.0
5 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436  2.3
6 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11  0.2
  name      gender            Age
1 Morgan    Male               9
2 Christian Male              17
3 Blake     Male              17
4 Dylan     Prefer not to say 57
5 Harlow    Male              17
6 Ahmed     Other             NA

In [5]:
players_data |>
    summarise(played_hours_mean = mean(played_hours, na.rm = TRUE),
             Age_mean = mean(Age, na.rm = TRUE))

  played_hours_mean Age_mean
1 5.845918          21.13918

## Questions

**Broad**:
We would like to know which "kinds" of players are most likely to contribute a large amount of data so that we can target those players in our recruiting efforts.

**Specific**:
Which variable(s) can be used to predict which player have long play time in hours in player.csv?